#menu {
    background-color: transparent; 
    transition: background-color 0.3s ease; 
}

#menu:hover {
    background-color: #2D2D2A; 
}


footer {
    position: relative;
    z-index: 50;
}

.grayscale {
    filter: grayscale(100%);
    transition: filter 0.3s ease;
}

.icon-container:hover .icon-a-color {
    filter:none;
    opacity: 1;
}


.slider{
  width: 100%;
  height: auto;
  margin: auto;
  overflow: hidden;
  margin-bottom: 100px;
  }

.slider .slide-track {
    display: flex;
    animation: scroll 10s linear infinite;
    -webkit-animation: scroll 80s linear infinite;
    width: calc(200px * 14);
  }

  .slider .slide {
    width: 300px;
    height: 500px;
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25px;
    
  }

  .slider .slide img {
    width: calc(100% - 0.25px);
    height: 250px;
    
  }


  
  #registerForm button {
    background-color: #AE5630;
    color: #ffffff;
    border: none;
  }

  #registerForm button:hover {
    background-color: #8d4528;
  }


  @keyframes scroll{
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0)
  }
  100%  {
        -webkit-transform: translateX(calc(-200px * 7));
        transform: translateX(calc(-200px * 7));

  }}

